body {
  background: #eeeeee;
}

header {
  max-width: 960px;

  .bg {
    background: #dff8d5;
    color: #404a3c;
    border-color: #0b7908;
  }

  img {
    max-width: 750px;
  }
}

.btn {
  background: #59b548;

  &:hover {
    background: #0b7908;
  }
}

article {
  background: #d9d9d9;
  border-color: #f0616f;

  h1 {
    color: #2b2b2b;
  }

  h2 {
    color: #e60808;
  }

  p {
    color: #525252;
  }

  .grs {
    border-color: #2b2b2b;
  }
}

main {
  .br {
    border-color: #00a6fd;

    h1 {
      color: #12394a;
    }

    .grs {
      border-color: #12394a;
    }

    li {
      color: #274c5d;
      border-color: #608396;
    }
  }
}

.spec {
  .br {
    border-color: #ff8c5c;
  }

  h1 {
    color: #372c11;
  }

  .grs {
    border-color: #372c11;
  }

  li {
    color: #655739;
    border-color: #685a3c;
  }
}

.prcmrh {
  color: #ff0000;
}

.prchj {
  color: #21e807;
}
